In [1]:
import pandas as pd
import jenkspy

In [4]:
df = pd.read_excel(r"C:\Users\bbrown\OneDrive - Green Assets\Desktop\jenks_experiment.xlsx", sheet_name="NaturalJenksTrial")

In [5]:
df.head()

                ID      Value
0   10011001 123 6  13.008752
1   10011001 124 5  19.024611
2  11111113 913 15  24.992683
3  10011001 122 14  25.881737
4    BJT210419TH01  28.506172

In [8]:
df.sort_values(by='Value', inplace=True)

In [9]:
df['quantile'] = pd.qcut(df['Value'], q=2, labels=['Low', 'High'])
df

                 ID       Value quantile
0    10011001 123 6   13.008752      Low
1    10011001 124 5   19.024611      Low
2   11111113 913 15   24.992683      Low
3   10011001 122 14   25.881737      Low
4     BJT210419TH01   28.506172      Low
5   10011001 122 20   32.983128      Low
6     BJT190424TH01   40.074706      Low
7     BJT190424TH03   43.991597      Low
8    11111113 913 1   45.721811      Low
9    11111113 913 2   48.463832      Low
10    BJT190424TH04   49.737091      Low
11  11111112 168 13   63.039348      Low
12   10011001 123 4   64.424313      Low
13  11111113 913 19   65.122751      Low
14    BJT200512TH01   65.982739      Low
15  11111113 913 18   68.579390      Low
16    BJT210519TT01   69.967138      Low
17  11111112 168 11   74.721453      Low
18    BJT190424TH06   77.750580      Low
19   11111113 913 4   77.812253      Low
20  11111112 168 16   79.412970      Low
21   11111113 913 5   80.818443      Low
22    BJT170224TH01   91.226537      Low
23  10011001 122 22   95.300611      Low
24    BJT210628TH03  100.778259      Low
25  10011001 122 23  101.384317      Low
26    BJT221103TH02  104.058790     High
27    BJT230215TH01  105.018108     High
28  11111113 913 16  105.044969     High
29    BJT210628TH01  105.309810     High
30  11111112 168 20  108.386118     High
31   11111113 913 8  116.347481     High
32   11111112 168 3  136.263578     High
33    11111111 39 3  136.953847     High
34  11111112 168 10  143.089745     High
35  10011001 122 13  143.820464     High
36   10011001 123 3  145.090696     High
37  10011001 122 19  155.585424     High
38   11111113 913 7  155.789947     High
39    BJT221103TH01  160.192313     High
40  10011001 122 17  174.974527     High
41  11111113 913 10  192.564423     High
42  10011001 122 21  200.674669     High
43   10011001 124 3  211.154674     High
44   11111113 913 6  235.138999     High
45    11111111 39 8  241.965884     High
46  10011001 122 16  252.382210     High
47  10011001 124 11  253.869571     High
48  10011001 123 11  264.329220     High
49   10011001 124 1  274.266609     High
50   11111111 39 10  290.807537     High

In [10]:
df['cut_bins'] = pd.cut(df['Value'],
                        bins=2,
                        labels=['Low', 'High'])
df

                 ID       Value quantile cut_bins
0    10011001 123 6   13.008752      Low      Low
1    10011001 124 5   19.024611      Low      Low
2   11111113 913 15   24.992683      Low      Low
3   10011001 122 14   25.881737      Low      Low
4     BJT210419TH01   28.506172      Low      Low
5   10011001 122 20   32.983128      Low      Low
6     BJT190424TH01   40.074706      Low      Low
7     BJT190424TH03   43.991597      Low      Low
8    11111113 913 1   45.721811      Low      Low
9    11111113 913 2   48.463832      Low      Low
10    BJT190424TH04   49.737091      Low      Low
11  11111112 168 13   63.039348      Low      Low
12   10011001 123 4   64.424313      Low      Low
13  11111113 913 19   65.122751      Low      Low
14    BJT200512TH01   65.982739      Low      Low
15  11111113 913 18   68.579390      Low      Low
16    BJT210519TT01   69.967138      Low      Low
17  11111112 168 11   74.721453      Low      Low
18    BJT190424TH06   77.750580      Low      Low
19   11111113 913 4   77.812253      Low      Low
20  11111112 168 16   79.412970      Low      Low
21   11111113 913 5   80.818443      Low      Low
22    BJT170224TH01   91.226537      Low      Low
23  10011001 122 22   95.300611      Low      Low
24    BJT210628TH03  100.778259      Low      Low
25  10011001 122 23  101.384317      Low      Low
26    BJT221103TH02  104.058790     High      Low
27    BJT230215TH01  105.018108     High      Low
28  11111113 913 16  105.044969     High      Low
29    BJT210628TH01  105.309810     High      Low
30  11111112 168 20  108.386118     High      Low
31   11111113 913 8  116.347481     High      Low
32   11111112 168 3  136.263578     High      Low
33    11111111 39 3  136.953847     High      Low
34  11111112 168 10  143.089745     High      Low
35  10011001 122 13  143.820464     High      Low
36   10011001 123 3  145.090696     High      Low
37  10011001 122 19  155.585424     High     High
38   11111113 913 7  155.789947     High     High
39    BJT221103TH01  160.192313     High     High
40  10011001 122 17  174.974527     High     High
41  11111113 913 10  192.564423     High     High
42  10011001 122 21  200.674669     High     High
43   10011001 124 3  211.154674     High     High
44   11111113 913 6  235.138999     High     High
45    11111111 39 8  241.965884     High     High
46  10011001 122 16  252.382210     High     High
47  10011001 124 11  253.869571     High     High
48  10011001 123 11  264.329220     High     High
49   10011001 124 1  274.266609     High     High
50   11111111 39 10  290.807537     High     High

In [12]:
breaks = jenkspy.jenks_breaks(df['Value'],n_classes=2)
breaks

[13.008751682414777, 116.34748058886373, 290.8075366799515]

In [14]:
df['cut_jenks'] = pd.cut(df['Value'],
                         bins=breaks,
                         labels=['Low', 'High'],
                         include_lowest=True)
df

                 ID       Value quantile cut_bins cut_jenks
0    10011001 123 6   13.008752      Low      Low       Low
1    10011001 124 5   19.024611      Low      Low       Low
2   11111113 913 15   24.992683      Low      Low       Low
3   10011001 122 14   25.881737      Low      Low       Low
4     BJT210419TH01   28.506172      Low      Low       Low
5   10011001 122 20   32.983128      Low      Low       Low
6     BJT190424TH01   40.074706      Low      Low       Low
7     BJT190424TH03   43.991597      Low      Low       Low
8    11111113 913 1   45.721811      Low      Low       Low
9    11111113 913 2   48.463832      Low      Low       Low
10    BJT190424TH04   49.737091      Low      Low       Low
11  11111112 168 13   63.039348      Low      Low       Low
12   10011001 123 4   64.424313      Low      Low       Low
13  11111113 913 19   65.122751      Low      Low       Low
14    BJT200512TH01   65.982739      Low      Low       Low
15  11111113 913 18   68.579390      Low      Low       Low
16    BJT210519TT01   69.967138      Low      Low       Low
17  11111112 168 11   74.721453      Low      Low       Low
18    BJT190424TH06   77.750580      Low      Low       Low
19   11111113 913 4   77.812253      Low      Low       Low
20  11111112 168 16   79.412970      Low      Low       Low
21   11111113 913 5   80.818443      Low      Low       Low
22    BJT170224TH01   91.226537      Low      Low       Low
23  10011001 122 22   95.300611      Low      Low       Low
24    BJT210628TH03  100.778259      Low      Low       Low
25  10011001 122 23  101.384317      Low      Low       Low
26    BJT221103TH02  104.058790     High      Low       Low
27    BJT230215TH01  105.018108     High      Low       Low
28  11111113 913 16  105.044969     High      Low       Low
29    BJT210628TH01  105.309810     High      Low       Low
30  11111112 168 20  108.386118     High      Low       Low
31   11111113 913 8  116.347481     High      Low       Low
32   11111112 168 3  136.263578     High      Low      High
33    11111111 39 3  136.953847     High      Low      High
34  11111112 168 10  143.089745     High      Low      High
35  10011001 122 13  143.820464     High      Low      High
36   10011001 123 3  145.090696     High      Low      High
37  10011001 122 19  155.585424     High     High      High
38   11111113 913 7  155.789947     High     High      High
39    BJT221103TH01  160.192313     High     High      High
40  10011001 122 17  174.974527     High     High      High
41  11111113 913 10  192.564423     High     High      High
42  10011001 122 21  200.674669     High     High      High
43   10011001 124 3  211.154674     High     High      High
44   11111113 913 6  235.138999     High     High      High
45    11111111 39 8  241.965884     High     High      High
46  10011001 122 16  252.382210     High     High      High
47  10011001 124 11  253.869571     High     High      High
48  10011001 123 11  264.329220     High     High      High
49   10011001 124 1  274.266609     High     High      High
50   11111111 39 10  290.807537     High     High      High

In [15]:
df['cut_jenks4'] = pd.cut(
    df['Value'],
    bins=jenkspy.jenks_breaks(df['Value'], n_classes=3),
    labels=['bucket_1', 'bucket_2', 'bucket_3'],
    include_lowest=True
)

In [16]:
df

                 ID       Value quantile cut_bins cut_jenks cut_jenks4
0    10011001 123 6   13.008752      Low      Low       Low   bucket_1
1    10011001 124 5   19.024611      Low      Low       Low   bucket_1
2   11111113 913 15   24.992683      Low      Low       Low   bucket_1
3   10011001 122 14   25.881737      Low      Low       Low   bucket_1
4     BJT210419TH01   28.506172      Low      Low       Low   bucket_1
5   10011001 122 20   32.983128      Low      Low       Low   bucket_1
6     BJT190424TH01   40.074706      Low      Low       Low   bucket_1
7     BJT190424TH03   43.991597      Low      Low       Low   bucket_1
8    11111113 913 1   45.721811      Low      Low       Low   bucket_1
9    11111113 913 2   48.463832      Low      Low       Low   bucket_1
10    BJT190424TH04   49.737091      Low      Low       Low   bucket_1
11  11111112 168 13   63.039348      Low      Low       Low   bucket_1
12   10011001 123 4   64.424313      Low      Low       Low   bucket_1
13  11111113 913 19   65.122751      Low      Low       Low   bucket_1
14    BJT200512TH01   65.982739      Low      Low       Low   bucket_1
15  11111113 913 18   68.579390      Low      Low       Low   bucket_1
16    BJT210519TT01   69.967138      Low      Low       Low   bucket_1
17  11111112 168 11   74.721453      Low      Low       Low   bucket_1
18    BJT190424TH06   77.750580      Low      Low       Low   bucket_1
19   11111113 913 4   77.812253      Low      Low       Low   bucket_1
20  11111112 168 16   79.412970      Low      Low       Low   bucket_1
21   11111113 913 5   80.818443      Low      Low       Low   bucket_1
22    BJT170224TH01   91.226537      Low      Low       Low   bucket_2
23  10011001 122 22   95.300611      Low      Low       Low   bucket_2
24    BJT210628TH03  100.778259      Low      Low       Low   bucket_2
25  10011001 122 23  101.384317      Low      Low       Low   bucket_2
26    BJT221103TH02  104.058790     High      Low       Low   bucket_2
27    BJT230215TH01  105.018108     High      Low       Low   bucket_2
28  11111113 913 16  105.044969     High      Low       Low   bucket_2
29    BJT210628TH01  105.309810     High      Low       Low   bucket_2
30  11111112 168 20  108.386118     High      Low       Low   bucket_2
31   11111113 913 8  116.347481     High      Low       Low   bucket_2
32   11111112 168 3  136.263578     High      Low      High   bucket_2
33    11111111 39 3  136.953847     High      Low      High   bucket_2
34  11111112 168 10  143.089745     High      Low      High   bucket_2
35  10011001 122 13  143.820464     High      Low      High   bucket_2
36   10011001 123 3  145.090696     High      Low      High   bucket_2
37  10011001 122 19  155.585424     High     High      High   bucket_2
38   11111113 913 7  155.789947     High     High      High   bucket_2
39    BJT221103TH01  160.192313     High     High      High   bucket_2
40  10011001 122 17  174.974527     High     High      High   bucket_2
41  11111113 913 10  192.564423     High     High      High   bucket_3
42  10011001 122 21  200.674669     High     High      High   bucket_3
43   10011001 124 3  211.154674     High     High      High   bucket_3
44   11111113 913 6  235.138999     High     High      High   bucket_3
45    11111111 39 8  241.965884     High     High      High   bucket_3
46  10011001 122 16  252.382210     High     High      High   bucket_3
47  10011001 124 11  253.869571     High     High      High   bucket_3
48  10011001 123 11  264.329220     High     High      High   bucket_3
49   10011001 124 1  274.266609     High     High      High   bucket_3
50   11111111 39 10  290.807537     High     High      High   bucket_3

In [17]:
natural_df = pd.read_excel(r"C:\Users\bbrown\OneDrive - Green Assets\Desktop\jenks_experiment.xlsx", sheet_name="natural")

In [22]:
natural_df['cut'] = pd.cut(natural_df['Value'],
                           bins=2,
                           labels=['low', 'high'])
natural_df['quantile'] = pd.qcut(natural_df['Value'],
                                 q=2,
                                 labels=['low', 'high'])
natural_df['jenks'] = pd.cut(natural_df['Value'],
                             bins=jenkspy.jenks_breaks(natural_df['Value'], n_classes=2),
                             labels=['low', 'high'],
                             include_lowest=True)

In [23]:
natural_df

                 ID       Value   cut quantile jenks
0   10011001 122 35   18.491545   low      low   low
1    10011001 123 6   23.766850   low      low   low
2    10011001 123 2   33.423687   low      low   low
3   10011001 122 25   44.766928   low      low   low
4   10011001 122 26   45.146910   low      low   low
5    11111112 168 5   47.530962   low      low   low
6   11111113 913 13   47.713391   low      low   low
7    10011001 123 7   49.978257   low      low   low
8   11111113 913 17   70.445705   low      low   low
9    11111112 168 8   81.963754   low      low   low
10   10011001 124 4   97.758925   low      low   low
11  11111112 168 21   98.515125   low      low   low
12    11111111 39 4  104.523200   low      low   low
13  10011001 124 12  105.839523   low      low   low
14  11111112 168 15  110.823158   low      low   low
15    11111111 39 2  119.256364   low      low   low
16  11111112 168 12  122.214349   low      low   low
17   11111112 168 2  129.725643   low     high  high
18  11111113 913 14  130.983956   low     high  high
19  11111112 168 17  136.605249   low     high  high
20   11111112 168 7  148.153612   low     high  high
21  11111112 168 19  152.483250   low     high  high
22    11111111 39 6  152.533403   low     high  high
23   11111112 168 4  154.999240   low     high  high
24   10011001 123 1  162.829326  high     high  high
25  10011001 122 12  165.402648  high     high  high
26  10011001 122 18  176.667548  high     high  high
27    11111111 39 9  178.654585  high     high  high
28   10011001 123 8  179.087400  high     high  high
29   11111112 168 9  183.940201  high     high  high
30   10011001 124 8  212.312993  high     high  high
31   10011001 124 9  235.280723  high     high  high
32  10011001 122 24  278.280365  high     high  high
33   10011001 123 9  306.518039  high     high  high

In [26]:
natural_df['GA_way'] = pd.cut(natural_df['Value'],
                              bins=[0, 100, natural_df['Value'].max()],
                              labels=['low', 'high'])

In [27]:
natural_df

                 ID       Value   cut quantile jenks GA_way
0   10011001 122 35   18.491545   low      low   low    low
1    10011001 123 6   23.766850   low      low   low    low
2    10011001 123 2   33.423687   low      low   low    low
3   10011001 122 25   44.766928   low      low   low    low
4   10011001 122 26   45.146910   low      low   low    low
5    11111112 168 5   47.530962   low      low   low    low
6   11111113 913 13   47.713391   low      low   low    low
7    10011001 123 7   49.978257   low      low   low    low
8   11111113 913 17   70.445705   low      low   low    low
9    11111112 168 8   81.963754   low      low   low    low
10   10011001 124 4   97.758925   low      low   low    low
11  11111112 168 21   98.515125   low      low   low    low
12    11111111 39 4  104.523200   low      low   low   high
13  10011001 124 12  105.839523   low      low   low   high
14  11111112 168 15  110.823158   low      low   low   high
15    11111111 39 2  119.256364   low      low   low   high
16  11111112 168 12  122.214349   low      low   low   high
17   11111112 168 2  129.725643   low     high  high   high
18  11111113 913 14  130.983956   low     high  high   high
19  11111112 168 17  136.605249   low     high  high   high
20   11111112 168 7  148.153612   low     high  high   high
21  11111112 168 19  152.483250   low     high  high   high
22    11111111 39 6  152.533403   low     high  high   high
23   11111112 168 4  154.999240   low     high  high   high
24   10011001 123 1  162.829326  high     high  high   high
25  10011001 122 12  165.402648  high     high  high   high
26  10011001 122 18  176.667548  high     high  high   high
27    11111111 39 9  178.654585  high     high  high   high
28   10011001 123 8  179.087400  high     high  high   high
29   11111112 168 9  183.940201  high     high  high   high
30   10011001 124 8  212.312993  high     high  high   high
31   10011001 124 9  235.280723  high     high  high   high
32  10011001 122 24  278.280365  high     high  high   high
33   10011001 123 9  306.518039  high     high  high   high

In [28]:
natural_df['jenks4'] = pd.cut(natural_df['Value'],
                             bins=jenkspy.jenks_breaks(natural_df['Value'], n_classes=4),
                             include_lowest=True)

In [29]:
natural_df

,ID,Value,cut,quantile,jenks,GA_way,jenks4
0,10011001 122 35,18.491545,low,low,low,low,"(18.491, 70.446]"
1,10011001 123 6,23.766850,low,low,low,low,"(18.491, 70.446]"
2,10011001 123 2,33.423687,low,low,low,low,"(18.491, 70.446]"
3,10011001 122 25,44.766928,low,low,low,low,"(18.491, 70.446]"
4,10011001 122 26,45.146910,low,low,low,low,"(18.491, 70.446]"
5,11111112 168 5,47.530962,low,low,low,low,"(18.491, 70.446]"
6,11111113 913 13,47.713391,low,low,low,low,"(18.491, 70.446]"
7,10011001 123 7,49.978257,low,low,low,low,"(18.491, 70.446]"
8,11111113 913 17,70.445705,low,low,low,low,"(18.491, 70.446]"
9,11111112 168 8,81.963754,low,low,low,low,"(70.446, 136.605]"
10,10011001 124 4,97.758925,low,low,low,low,"(70.446, 136.605]"
11,11111112 168 21,98.515125,low,low,low,low,"(70.446, 136.605]"
12,11111111 39 4,104.523200,low,low,low,high,"(70.446, 136.605]"
13,10011001 124 12,105.839523,low,low,low,high,"(70.446, 136.605]"
14,11111112 168 15,110.823158,low,low,low,high,"(70.446, 136.605]"
15,11111111 39 2,119.256364,low,low,low,high,"(70.446, 136.605]"
16,11111112 168 12,122.214349,low,low,low,high,"(70.446, 136.605]"
17,11111112 168 2,129.725643,low,high,high,high,"(70.446, 136.605]"
18,11111113 913 14,130.983956,low,high,high,high,"(70.446, 136.605]"
19,11111112 168 17,136.605249,low,high,high,high,"(70.446, 136.605]"
20,11111112 168 7,148.153612,low,high,high,high,"(136.605, 212.313]"
21,11111112 168 19,152.483250,low,high,high,high,"(136.605, 212.313]"
22,11111111 39 6,152.533403,low,high,high,high,"(136.605, 212.313]"
23,11111112 168 4,154.999240,low,high,high,high,"(136.605, 212.313]"
24,10011001 123 1,162.829326,high,high,high,high,"(136.605, 212.313]"
25,10011001 122 12,165.402648,high,high,high,high,"(136.605, 212.313]"
26,10011001 122 18,176.667548,high,high,high,high,"(136.605, 212.313]"
27,11111111 39 9,178.654585,high,high,high,high,"(136.605, 212.313]"
28,10011001 123 8,179.087400,high,high,high,high,"(136.605, 212.313]"
29,11111112 168 9,183.940201,high,high,high,high,"(136.605, 212.313]"
30,10011001 124 8,212.312993,high,high,high,high,"(136.605, 212.313]"
31,10011001 124 9,235.280723,high,high,high,high,"(212.313, 306.518]"
32,10011001 122 24,278.280365,high,high,high,high,"(212.313, 306.518]"
33,10011001 123 9,306.518039,high,high,high,high,"(212.313, 306.518]"